<div class="auth-background" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayout="column">
    <div>
      <mat-card class="mat-login">
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1rem">
          <mat-icon>account_circle</mat-icon>
          <h3>LOGIN</h3>
        </div>

        <mat-card-content>
          <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width">
              <input
                type="email"
                id="email"
                class="input"
                placeholder="Enter your email"
                formControlName="email"
                required
                matInput
              />

              <mat-error *ngIf="loginForm.hasError('required', 'email')">
                Email is <strong>required.</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width mb-1">
              <input
                type="password"
                id="password"
                class="input"
                placeholder="Enter your password"
                formControlName="password"
                required
                matInput
              />
              <mat-error *ngIf="loginForm.hasError('required', 'password')">
                Password is <strong> required.</strong>
              </mat-error>
            </mat-form-field>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1rem">
              <button mat-raised-button color="primary" type="submit">
                Login
              </button>

              <!-- <span fxFlex fxLayoutAlign="center center">OR</span> -->

              <!-- <button mat-raised-button color="primary" type="button" (click)="onGoogleSignIn()">
                Google Signin
              </button> -->
            </div>
          </form>
          <div fxLayout="row" class="mt-1" fxLayoutGap="1.5rem">
            <button mat-button [routerLink]="['/auth/register']">
              Register
            </button>

            <button
              mat-button
              class="full-width"
              (click)="onPasswordReset()"
              [disabled]="this.loginForm.controls['email'].invalid"
            >
              Forgot Password?
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
