.htext {
  font-family: Tahoma, Geneva, sans-serif;
}

.mat-login {
  border-radius: 10px;
  padding: 30px;
}

.mat-card {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.mat-card-title {
  font-size: 14px;
}
