.bg-image-header {
  background:url(src/assets/images/Header-v2.png) no-repeat center;
  width:100%;
  height:100%;
}

.bg-image-footer {
  background:url(src/assets/images/footer-v1.png) no-repeat center;
  width:100%;
  height:100%;
}
