.bg-image-header {
  background:url(src/assets/images/Header-v2.png) no-repeat center;
  width:595px;
  height:196px;
}

.bg-image-footer {
  background:url(src/assets/images/footer-v1.png) no-repeat center;
  width:594px;
  height:96px;
}
.ml-1 {
  margin-right: 10px;
}

.name{
  margin-left: 90px;
  margin-top: 65px;
  color: white;
}

.surname{
margin-left: 10px;
  margin-top: 65px;
  color: white;
}

.user-profile{
  border-radius: 50%;
    width: 129px;
    margin-left: 188px;
    margin-top: 32px;
}
.form-size{
  widows: 500px;
  height: auto;
}

.position{
  margin-left: 90px;
  margin-top: -33px !important;
  font-size: 18px!important;
  color: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  }

  .ml-2{
    margin-left: 20px;
  }

  .mb-2{
    margin-bottom: 20px;
  }

  .mb-1{
    margin-bottom: 10px;
  }

  .m-l-r{
    margin-right: 10px;
    margin-left: 10px;
  }
