.bg-image-header {
  background:url(src/assets/images/Header-v2.png) no-repeat center;
  width:595px;
  height:196px;
}

.bg-image-footer {
  background:url(src/assets/images/footer-v1.png) no-repeat center;
  width:594px;
  height:96px;
}
.ml-1 {
  margin-right: 10px;
}

.name{
  margin-left: 90px;
  margin-top: 75px;
  color: white;
}

.surname{
margin-left: 10px;
  margin-top: 75px;
  color: white;
}

.position{
  margin-left: 90px;
  color: white;
  }

  .ml-2{
    margin-left: 20px;
  }

  .mb-2{
    margin-bottom: 20px;
  }

  .m-l-r{
    margin-right: 10px;
    margin-left: 10px;
  }
