
<!-- <div id="contentToConvert" *ngIf="resume"> -->

<form  id="contentToConvert" *ngIf="resume">

  <div fxlayout="column" class="bg-image-header" fxLayoutGap="16px">  <!--Header-->
     <div fxLayout="row" fxLayoutGap="10px;">
        <div class="name"><h2>{{resume.name}}</h2></div>
        <div></div>
        <div class="surname"><h2>{{resume.surname.charAt(0)}}.</h2></div>
      </div>
      <div class="position"><h3> {{resume.position}}</h3></div>
  </div>


<div fxLayout="column">   <!--Personal Background-->
  <div>
    <h2>Personal Background</h2>
    <div class="ml-2">{{resume.personalBackground}}</div>
  </div>
</div>

<div fxLayout="column">   <!--Experience-->

        <h2>Work Experience</h2>

      <div class="ml-2 mb-2" *ngFor="let experience of resume.experiences" fxLayoutGap="10px;">
        <div fxLayout="row">
          <div>{{experience.startDate}}</div> <div class="m-l-r">till</div><div>{{experience.endDate}}</div>
        </div>
        <div><p> {{experience.position}}</p></div>
        <div>{{experience.employer}}</div>
        <div>{{experience.jobDescription}}</div>
      </div>
</div>

<div fxLayout="column" fxLayoutGap="5px;">   <!--Education-->

    <h2>Education & Trainings</h2>

  <div  class="ml-2 mb-2" *ngFor="let education of resume.educations">
    <div fxLayout="row">
      <div> {{education.startingYear}}</div><div class="m-l-r">till</div><div>{{education.passingYear}}</div>
    </div>
    <div fxLayout="row">
      <div>{{education.degree}}</div> <div class="m-l-r">at</div> <div>{{education.college}}</div>
    </div>
  </div>
</div>

<div fxLayout="column" fxLayoutGap="5px;">  <!--Languages-->
  <div>
    <h2>Languages</h2>
  </div>
  <div class="ml-2 mb-2" fxLayout="column" *ngFor="let language of resume.languages" fxLayoutGap="10px;">
    <div fxLayout="row" fxLayoutGap="20px;">
      <div>{{language.languageName}}</div>
      <div class="m-l-r"></div>
      <div>{{language.languageLevel}}</div>
    </div>

  </div>
</div>

<div fxLayout="column" fxLayoutGap="5px;">   <!--IT Knowledge-->
    <div>
      <h2>IT Knowledge</h2>
    </div>
    <div  class="ml-2 mb-2"  fxLayout="column" *ngFor="let itlanguage of resume.itlanguages">
      <div fxLayout="row">
          <div>{{itlanguage.itSkill}}</div>
          <div>{{itlanguage.level}}</div>
          <!-- <div *ngIf="itlanguage.level=='beginner'">
            <h4>Beginner</h4>
          </div> -->
      </div>
    </div>
  </div>

  <div class="bg-image-footer">
   </div>

</form>

<div fxLayout="row" fxLayoutGap="20px" >
  <button mat-raised-button color="primary"  class="ml-1" (click)="captureScreen()"> Download CV</button>
  <button mat-raised-button color="warn" [routerLink]="['/user-list']" routerLinkActive="router-link-active" > Back</button>
</div>
