@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
  display: block;
}
.h-3 {
  height: 3rem;
}

.h-2 {
  height: 2rem;
}
.h-1 {
  height: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}
.pl-2 {
  padding-left: 2rem;
}

.pl-1 {
  padding-left: 1rem;
}

.nav-caption {
  display: inline-block;
  padding-left: 10px;
}

.full-width {
  width: 100%;
}

.fs-1 {
  font-size: 1rem;
}
.fs-2 {
  font-size: 2rem;
}
.fs-3 {
  font-size: 3rem;
}

.auth-background {
  background-image: linear-gradient(to right top, #ffffff, #e8e8eb, #d1d1d8, #b9bbc5, #a1a6b3, #8c909c, #787a86, #656571, #4e4b53, #373237, #1f1c1e, #000000);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.mat-dashboard {
  font-size: 20px;
  font-family: sans-serif;
}
