<!--
   <mat-tab-group>
    <mat-tab  label= "Applicants" fxLayoutAlign="center center">

      <mat-table [dataSource]="resumes$" matSort id="contentToConvert">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef  > Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname" >
            <mat-header-cell *matHeaderCellDef> Surname</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.surname}}. </mat-cell>
          </ng-container>


            <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef > Phone</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.phone }} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef  > Email</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                </ng-container>
              <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef> Address</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.address }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                  <mat-cell *matCellDef="let row" >

                      <button  mat-raised-button color="warn" class="ml-1" onclick="onDeleteForm()">Delete</button>
                      <button mat-raised-button color="primary"  [routerLink]="['/display-user', id]"
                      routerLinkActive="router-link-active">Show</button>

                  </mat-cell>
                </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"> </mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>

      </mat-table>

      <mat-paginator [pageSize]="1" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </mat-tab>
</mat-tab-group> -->


<div fxLayoutAlign="center center">
    <h1>Users List</h1>
</div>
<div  dir="ltr" fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="10px"*ngFor="let resume of resumes$ | async; index as i">

  <!-- <div fxLayout="row" fxLayoutGap="5px">
    <mat-card>
   <p>{{resume.name}}</p>
   <p>{{resume.surname}}</p>
   <p>{{resume.address}}</p>
   <button  mat-raised-button color="warn" class="ml-1" onclick="onDeleteForm()">Delete</button>
   <button mat-raised-button color="primary"  [routerLink]="['/display-user', resume.id]"
    routerLinkActive="router-link-active">Show</button>
  </mat-card>
  </div> -->

  <mat-card class="example-card">
      <mat-card-header>

        <div mat-card-avatar class="img-user" [ngStyle]="{'background-image': 'url(' + resume.profilePic + ')'}">

        </div>
        <mat-card-title>{{resume.name}}</mat-card-title>
        <mat-card-subtitle>{{resume.surname}}</mat-card-subtitle>
      </mat-card-header>
      <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
      <mat-card-content>
        <p>
            {{resume.phone}}
        </p>
        <p>
            {{resume.address}}
        </p>
        <p>
            {{resume.email}}
        </p>
      </mat-card-content>
      <mat-card-actions>
          <button  mat-raised-button color="warn" class="ml-1" onclick="onDeleteForm()">Delete</button>
          <button mat-raised-button color="primary"  [routerLink]="['/display-user', resume.id]"
           routerLinkActive="router-link-active">Show</button>
      </mat-card-actions>
    </mat-card>

</div>

